a, a:visited {
  color: #45BBAD;
}

a:hover {
  color: #45BBAD;
  text-decoration: underline;
}

.btn:visited, .btn:hover, .btn, .btn-neutral {
  background-color: #50D8C8 !important;
  color: white !important;
  border: none;
  box-shadow: none;
}

@media only screen and (device-width: 768px),
only screen and (max-width: 768px) {
  .wy-breadcrumbs-aside {
    display: none;
  }
}

.wy-breadcrumbs-aside {
  width: 100%;
  text-align: right;
  margin-bottom: 0.3em;
}

.wy-nav-content-wrap {
  background-color: white;
}

.wy-side-nav-search {
  background-color: #50D8C8;
}

.wy-side-nav-search .icon {
  color: white;
}

.wy-nav-side, .rst-versions {
  color: white;
  background-color: #10134b;
}

.rst-versions .rst-current-version {
  background-color: #10134b;
}

.wy-menu-vertical a {
  color: white;
}

.wy-menu-vertical span {
  color: white;
  font-style: italic;
}

.wy-menu-vertical li ul li a {
  color: white;
}

.wy-menu-vertical a:hover {
  background-color: #50D8C8;
}

.wy-nav-top {
  background-color: #50D8C8;
}

.wy-nav-top .fa-bars {
  margin-top: 8px;
}

.wy-nav-top a {
  color: white;
}

.wy-side-nav-search input[type="text"] {
  border: none;
  border-radius: unset;
}

form .search-query {
  border-radius: unset;
  border: 1px solid black;
}

iframe {
  max-width: 100%;
  max-height: 70vw;
  margin-bottom: 1em;
}

